<div class="container">
  <h1><%= form_title_person %></h1>

  <%= form_for @person do |f| %>
    <%= f.text_field :cedula, placeholder: "cedula", class: "form-group form-control" %>
    <%= f.text_field :name, placeholder: "Nombre", class: "form-group form-control" %>
    <%= f.text_field :last_name, placeholder: "Apellido", class: "form-group form-control" %>
    <%= f.select :position_id, options_for_select(Position.all.collect { |t| [t.description, t.id]}), {}, class: "form-group custom-select" %>
    <%= f.submit form_title_person, class: "form-group btn btn-secondary btn-sm" %>
  <% end %>
</div>
