<div class="container pt-5">
  <div class="card shadow bg-light">
    <div class="card-body">
      <h1 class="card-title">Personas</h1>
      <div class="text-right">
        <%= link_to "Agregar asesor(a)", new_person_path, class: "form-group btn btn-success btn-sm" %>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead class="thead-light">
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th></th>
            <th></th>
          </thead>
          <% @person.each do |person| %>
          <tr>
            <td><%= person.id %></td>
            <td><%= person.cedula %></td>
            <td><%= person.name %></td>
            <td><%= person.last_name %></td>
            <td>
              <% p=Position.find(person.position_id) %><%= p.description %>
            </td>
            <td><%= link_to "Editar", edit_person_path(person), class: "btn btn-secondary btn-sm" %></td>
            <td><%= link_to "Eliminar", person, method: :delete, data: { confirm: "¿Estas seguro de eliminar asesor(a)"}, class: "btn btn-danger btn-sm" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
