<h1>Personas</h1>

<%= link_to "Agregar asesor(a)", new_person_path %>

<table>
  <tr>
    <th>Id</th>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rol</th>
    <th></th>
    <th></th>
  </tr>
  <% @person.each do |person| %>
    <tr>
      <td><%= person.id %></td>
      <td><%= person.cedula %></td>
      <td><%= person.name %></td>
      <td><%= person.last_name %></td>
      <td>
        <% p=Position.find(person.position_id) %><%= p.description %>
      </td>
      <td><%= link_to "Editar", edit_person_path(person) %></td>
      <td><%= link_to "Eliminar", person, method: :delete, data: { confirm: "¿Estas seguro de eliminar asesor(a)"} %></td>
    </tr>
  <% end %>
</table>
