<h1>Agregar asesor(a)</h1>
<%= form_for @person do |f| %>
  <%= f.text_field :cedula, placeholder: "Ingresa la cedula de asesor(a)" %>
  <%= f.text_field :name, placeholder: "Ingresa el nombre de asesor(a)" %>
  <%= f.text_field :last_name, placeholder: "Ingresa el apellido de asesor(a)" %>
  <%= f.submit "Agregar asesor(a)" %>
<% end %>
