<!DOCTYPE html>
<html>
  <head>
    <title>Inspeccionsapp</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">

      <!-- Brand -->
      <%= link_to "IRETI", root_path, class: "navbar-brand" %>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links ans dropdown -->
      <div class="container">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Visitas</a>
              <div class="dropdown-menu">
                <%= link_to "Nueva vista", new_visit_path, class: "dropdown-item" %>
                <%= link_to "Editar vista", visits_path, class: "dropdown-item" %>
                <%= link_to "Eliminar vista", visits_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Personas</a>
              <div class="dropdown-menu">
                <%= link_to "Nueva persona", new_person_path, class: "dropdown-item" %>
                <%= link_to "Editar persona", people_path, class: "dropdown-item" %>
                <%= link_to "Eliminar persona", people_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cargos</a>
              <div class="dropdown-menu">
                <%= link_to "Nueva cargo", new_position_path, class: "dropdown-item" %>
                <%= link_to "Editar cargo", positions_path, class: "dropdown-item" %>
                <%= link_to "Eliminar cargo", positions_path, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pt-2">
      <% if flash[:notice] %>
        <div class="alert alert-success shadow">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
