<!DOCTYPE html>
<html>
  <head>
    <title>Inspeccionsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="">Menu</a>
            <ul>
              <a href="">Visitas</a>
              <ul>
                <li>
                  <%= link_to "Nueva vista", new_visit_path %>
                </li>
                <li>
                  <%= link_to "Editar vista", visits_path %>
                </li>
                <li>
                  <%= link_to "Eliminar vista", visits_path %>
                </li>
              </ul>
            </ul>
            <ul>
              <a href="">Personas</a>
              <ul>
                <li>
                  <%= link_to "Nueva Persona", new_person_path %>
                </li>
                <li>
                  <%= link_to "Editar persona", people_path %>
                </li>
                <li>
                  <%= link_to "Eliminar persona", people_path %>
                </li>
              </ul>
            </ul>
            <ul>
              <a href="">Cargos</a>
              <ul>
                <li>
                  <%= link_to "Nuevo Cargo", new_position_path %>
                </li>
                <li>
                  <%= link_to "Editar Cargo", positions_path %>
                </li>
                <li>
                  <%= link_to "Eliminar Cargo", positions_path %>
                </li>
              </ul>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>
